﻿body {
    display:inline-block;
}

.information {
    position: absolute;
    top: 35%;
    left: 32%;
}

.profile-picture {
    max-width: 200px;
    float: left;
}

.profile-picture img {
    width: 100%;
}

.profile-text {
    margin-left: 10px;
    float: right;
    font-size: 34px;
    margin-top: 7%;
}
